# --------------------------------------------------------------------------- #
#                                GIT IGNORE FILE                              #
# --------------------------------------------------------------------------- #
YahooFinanceTools.iml
.idea